@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="row">
                            <div class="col-md-4 column">
                            
                                <ul class="footer-gd-16">
                                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/Destination/Index">Rotalar</a></li>
                                    <li><a href="/Contact/Index">İletişim</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                               
                                <ul class="footer-gd-16">
                                
                                    <li><a href="https://khgm.saglik.gov.tr/TR-92795/sehir-hastanelerimiz.html?Sayfa=1">Hastaneler</a></li>
                                    <li><a href="https://yandex.com.tr/maps/103728/istanbul/category/currency_exchange/184105406/?ll=28.963498%2C41.020353&sll=28.963498%2C41.020348&z=13">Döviz Ofisleri</a></li>
                                    <li><a href="https://istanbul.ktb.gov.tr/TR-276125/turizm-danisma-burolari.html">Turizm Bürosu</a></li>
                                    <li><a href="/Contact/Index">Bize Yazın</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                              
                                <ul class="footer-gd-16">
                                    <li><a href="https://www.skyscanner.com.tr/?adid=1027991&afsrc=1&associateid=AFF_TRA_19354_00001&campaign_id=1943907&click_timestamp=1781992708230&irclickid=_bbher3nqfskfaio3n1xkbihtp3221ike0ufynhex00&irgwc=1&irmweb=&previousCultureSource=GEO_LOCATION&redirectedFrom=www.skyscanner.net&utm_campaign=&utm_content=Online%20Tracking%20Link&utm_medium=affiliate&utm_source=1943907-Opera%E2%80%8A">Havayolları</a></li>
                                    <li><a href="/Home/Guides">Rehberlerimiz</a></li>
                                    <li><a href="#url">Türkiye Ofisi</a></li>
                                    <li><a href="#url">Ukrayna Ofisi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                       
                        <div class="end-column">
                            <h4>Son gelişmeler ve kampanyalardan haberdar olun.</h4>
                            <form asp-controller="Home" asp-action="AddNewsLetter" method="post" class="subscribe">
                                <input type="email" name="Mail" placeholder="E-posta adresiniz" />
                                <button type="submit">Abone Ol</button>
                            </form>
                            <p>Kampanyalar için bültene kaydolun.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left text-center">
                        <p>
                            &copy;@DateTime.Now.Year Traversal. Tüm hakları saklıdır.Design by <a href="https://w3layouts.com/" target="_blank">
                                W3Layouts
                            </a>
                        </p>
                    </div>
                    <div class="columns-2 mt-lg-0 mt-3">
                        <ul class="social">
                            <li>
                                <a href="https://www.instagram.com"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/nurgulelmali/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://x.com/?lang=tr"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://www.google.com/?hl=tr"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://github.com/nrglelml"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
              scrollFunction()
            };

            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
              } else {
                document.getElementById("movetop").style.display = "none";
              }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
        <script>
            $(function () {
              $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
              })
            });
        </script>
    </section>

</footer>