@model SubAbout
@{
    ViewData["Title"] = "AddSubAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        <h4 class="mb-4">Alt Hakkında Bilgisi Ekle</h4>

        <div class="card mb-4">

            <div asp-validation-summary="All" class="text-danger"></div>

            <form asp-area="Admin" asp-controller="SubAbout" asp-action="AddSubAbout" method="post" enctype="multipart/form-data">


                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="title" class="form-label">Başlık</label>
                            <input class="form-control" type="text" id="title" asp-for="Title" required="" />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="description" class="form-label">Açıklama</label>
                            <textarea class="form-control" type="text" id="description" rows="3" asp-for="Description" required=""></textarea>
                        </div>

                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                        <a asp-area="Admin" asp-controller="SubAbout" asp-action="Index" class="btn btn-outline-secondary">İptal</a>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>


