@using EntityLayer.Concrete
@model List<Feature>

<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">

            @* Büyük resim - sol taraf *@
            @foreach (var item in Model.Where(x => x.IsBigImage == true))
            {
                <div class="col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius m-0">
                            <img class="img-fluid" src="/featureImages/@item.Image " />
                            <figcaption>
                                <div>
                                    <h4>@item.Title</h4>
                                    <p>@item.Description</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            }

            @* Küçük resimler - sağ taraf *@
            <div class="col-lg-6">
                <div class="row">
                    @foreach (var item in Model.Where(x => x.IsBigImage == false))
                    {
                        <div class="col-6 mb-3">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="/featureImages/@item.Image" />
                                    <figcaption>
                                        <div>
                                            <h4>@item.Title</h4>
                                            <p>@item.Description</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>